.original_subtitle,
.translation {
  text-shadow: black 1px 0px 0px;
}
.translation {
  border-top: 2px solid rgba(255, 255, 0, 0.29);
  margin-top: 5px;
  padding: 5px;
}
.translation {
  cursor: pointer;
}
.highlighted {
  position: absolute;
  top: 0;
  color: transparent;
}
.highlighted span {
  color: white;
}
.highlighted span,
.translation span:hover {
  background: blue;
}
